<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Media</string>
	<key>Description</key>
	<string>Asset catalogs store and categorize resources for different platforms, devices, and capabilities (such as scale factors).  When built, items in asset catalogs are compiled into a unified, efficient runtime format or exported to their expected format (based on use).</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILENAME___.xcassets</string>
	<key>Name</key>
	<string>Asset Catalog</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Summary</key>
	<string>An asset catalog</string>
</dict>
</plist>
