<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>com.apple.dt.playground</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>MyPlayground</string>
	<key>Description</key>
	<string>Playgrounds provide an interactive environment to play with code.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.PlaygroundWithPlatformChoice</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.playground</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the playground to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>iOS</string>
			<key>Description</key>
			<string>The target platform for the playground</string>
			<key>Identifier</key>
			<string>platform</string>
			<key>Name</key>
			<string>Platform:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>iOS</string>
				<string>OS X</string>
			</array>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>6</string>
	<key>Summary</key>
	<string>A Playground</string>
</dict>
</plist>
