<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>An Interface Builder document for creating a main menu.</string>
	<key>Summary</key>
	<string>An Interface Builder document for creating a main menu</string>
	<key>Icon</key>
	<string>TemplateIcon.tiff</string>
	<key>Title</key>
	<string>Cocoa Main Menu Template</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.xib</string>
	<key>DefaultCompletionName</key>
	<string>MainMenu</string>
	<key>SortOrder</key>
	<integer>3</integer>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
</dict>
</plist>
